.options {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 30px 0;
  font-family: body-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  width: 550px;
  font-size: 17px;
}
.options__title {
  display: block;
  background: #507299;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e7e8ec;
  border-radius: 2px 2px 0 0;
  font-size: 16px;
  outline: none;
  color: #fff;
}
.options__panel {
  margin: 15px 20px;
  padding-bottom: 10px;
}
.options__row {
  padding-top: 6px;
  margin: 0 0 8px 155px;
}
.options__label {
  color: #656565;
  width: 145px;
  padding: 5px 10px 6px 0;
  float: left;
  line-height: 17px;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control input:focus ~ .control__indicator,
.control:hover input ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control input:checked:focus ~ .control__indicator,
.control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
