
.indicators__icon {
  width: 16px;
  height: 16px;
}

.indicators__status {
  position: relative;
  top: -18px;
  float: right;
  height: 14px;
  cursor: pointer;
}

.indicators__status_mini {
  float: left;
  margin-top: 11px;
  padding: 2px;
  cursor: pointer;

  -webkit-filter: grayscale(80%) brightness(185%);
}

.indicators__status_mini:hover {
  -webkit-filter: grayscale(80%) brightness(300%);
}

.indicators__twit {
  float: right;
  position: relative;
  top: -18px;
  padding-right: 3px;
  height: 14px;
}

.indicators__love {
  float: right;
  position: relative;
  top: -18px;
  padding-right: 3px;
  height: 14px;
  cursor: pointer;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  40% { transform: scale(1); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.indicators__love_pulse {
  animation-name: pulse_animation;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
