
.indicators__icon {
  width: 16px;
  height: 16px;
}

.indicators__status {
  float: right;
  margin-top: -2px;
  height: 14px;
  cursor: pointer;
}

.indicators__status_mini {
  float: left;
  padding: 3px;
}

.indicators__twit {
  float: right;
  padding-right: 3px;
  margin-top: -2px;
  height: 14px;
}

.indicators__love {
  float: right;
  margin-top: -2px;
  padding-right: 3px;
  height: 14px;
  cursor: pointer;
}
