
.indicators__icon_old {
  width: 16px;
  height: 16px;
}

.indicators__status_old {
  float: right;
  margin-top: -2px;
  height: 14px;
  cursor: pointer;
}

.indicators__status_old-mini {
  float: left;
  padding: 3px;
  cursor: pointer;
}

.indicators__twit_old {
  float: right;
  padding-right: 3px;
  margin-top: -2px;
  height: 14px;
}

.indicators__love_old {
  float: right;
  margin-top: -2px;
  padding-right: 3px;
  height: 14px;
  cursor: pointer;
}

@keyframes pulse_animation_old {
  0% { transform: scale(1); }
  40% { transform: scale(1); }
  70% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.indicators__love_pulse_old {
  animation-name: pulse_animation_old;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
