@import "checkbox";
.options {
  position: relative;
  /*background: #fff;*/
  border-radius: 2px;
  /*box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;*/
  margin: 15px 0;
  font-family: body-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  width: 550px;
  font-size: 17px;
  &__title {
    display: block;
    padding: 0 20px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 2px 2px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
    text-align: center;
  }
  &__panel {
    margin: 15px 0;
    padding-bottom: 10px;
  }
  &__row {
    padding-top: 6px;
    margin: 0 0 8px 155px;
  }
  &__label {
    color: #656565;
    width: 145px;
    padding: 5px 10px 6px 0;
    float: left;
    line-height: 17px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}
.btn {
  background-color: $blueVk;
  padding: 5px 10px;
  border: 0;
  color: #fff;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $blueLightVk;
  }
  &:active {
    background-color: $BlueDarkVk;
    outline: none;
  }
  &--done {
    border-radius: 50%;
    width: 50px;
    font-size: 24px;
  }
}
