
.options {
  position: relative;
  /*background: #fff;*/
  border-radius: 2px;
  /*box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;*/
  margin: 15px 0;
  font-family: body-apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  width: 550px;
  font-size: 17px;
}

.options__title {
  display: block;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e7e8ec;
  border-radius: 2px 2px 0 0;
  font-size: 16px;
  outline: none;
  color: #000;
  text-align: center;
}

.options__panel {
  margin: 15px 0;
  padding-bottom: 10px;
}

.options__row {
  padding-top: 6px;
  margin: 0 0 8px 155px;
}

.options__label {
  color: #656565;
  width: 120px;
  padding: 5px 10px 6px 0;
  float: left;
  text-align: right;
}

.options__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.options__button {
  background-color: var(--color-blue-vk);
  padding: 5px 10px;
  border: 0;
  color: #fff;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 50px;
}

.options__button::-moz-focus-inner {
  border: 0;
}

.options__button:focus {
  outline: none;
}

.options__button:hover {
  background-color: var(--color-blue-light-vk);
}

.options__button:active {
  background-color: var(--color-blue-dark-vk);
  outline: none;
}

.options__button--done {
  border-radius: 50%;
  width: 50px;
  font-size: 24px;
}
